html {
	margin: 0px; padding: 0px; width: 100%; text-align: center; color: rgb(51, 51, 51); font-family: Verdana, Arial; font-size: 12px; background-color: rgb(212, 212, 212);
}
body {
	margin: 0px; padding: 0px; width: 100%; text-align: center; color: rgb(51, 51, 51); font-family: Verdana, Arial; font-size: 12px; background-color: rgb(212, 212, 212);
}
html div {
	-moz-user-select: -moz-none;
}
html span {
	-moz-user-select: -moz-none;
}
textarea {
	resize: none;
}
a {
	cursor: pointer;
}
a:link {
	cursor: pointer;
}
a:visited {
	cursor: pointer;
}
a:active {
	cursor: pointer;
}
img {
	border: 0px currentColor; border-image: none; vertical-align: middle;
}
li {
	text-align: left; line-height: 23px; list-style-type: none;
}
form {
	margin: 0px;
}
.clear {
	margin: 0px; padding: 0px; width: 0px; height: 0px; line-height: 0px; clear: both; font-size: 0px;
}
.c {
	margin: 0px; padding: 0px; width: 0px; height: 0px; line-height: 0px; clear: both; font-size: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
input {
	vertical-align: middle;
}
.unit {
	padding-top: 32px; position: relative; z-index: 1; _zoom: 1;
}
.unit_title {
	background: url("/images/game_bg.gif") repeat-x left -326px; top: 0px; width: 781px; height: 32px; line-height: 32px; overflow: visible; font-size: 14px; font-weight: bold; position: absolute;
}
.ut_l {
	background: url("/images/game_bg.gif") repeat-x left -294px; width: 3px; height: 32px; float: left;
}
.ut_r {
	background: url("/images/game_bg.gif") repeat-x left -294px; width: 3px; height: 32px; float: left;
}
select {
	vertical-align: middle;
}
.ut_r {
	background-position: right -294px; float: right;
}
#rightcon_h {
	background: url("/images/news_bg.gif") repeat-x left -10px; height: 35px; text-align: left; line-height: 32px; overflow: hidden;
}
#rightcon_h div {
	background: none; width: 5px; height: 33px; float: left;
}
#rightcon_h span {
	height: 33px; color: rgb(255, 186, 1); overflow: hidden; font-size: 12px; font-weight: normal; display: block;
}
#rightcon_h b {
	color: rgb(255, 246, 1); font-weight: normal;
}
#rightcon_h a {
	color: rgb(255, 246, 1); text-decoration: none; cursor: pointer;
}
#rightcon {
	padding: 10px 5px; text-align: left; -ms-overflow-x: hidden; -ms-overflow-y: auto; background-color: rgb(212, 212, 212);
}
.game_rc {
	margin: 0px auto; width: 795px;
}
.gm_con {
	height: 100%; margin-bottom: 10px; position: relative; _zoom: 1;
}
.gm_con_lt {
	background: url("/images/game_bg.gif") no-repeat left top; width: 4px; height: 4px; position: absolute; _line-height: 0; _font-size: 0;
}
.gm_con_rt {
	background: url("/images/game_bg.gif") no-repeat left top; width: 4px; height: 4px; position: absolute; _line-height: 0; _font-size: 0;
}
.gm_con_lb {
	background: url("/images/game_bg.gif") no-repeat left top; width: 4px; height: 4px; position: absolute; _line-height: 0; _font-size: 0;
}
.gm_con_rb {
	background: url("/images/game_bg.gif") no-repeat left top; width: 4px; height: 4px; position: absolute; _line-height: 0; _font-size: 0;
}
.gm_con_lt {
	left: 0px; top: 0px;
}
.gm_con_rt {
	background-position: -4px top; top: 0px; right: 0px; _right: -1px;
}
.gm_con_lb {
	background-position: left -4px; left: 0px; bottom: 0px; _bottom: -1px;
}
.gm_con_rb {
	background-position: -4px -4px; right: 0px; bottom: 0px; _right: -1px; _bottom: -1px;
}
.gm_con_to {
	padding: 4px 6px; border: 1px solid rgb(255, 255, 255); border-image: none; background-color: rgb(234, 234, 234); _padding: 4px 6px 0 6px;
}
.gct_l {
	background: url("/images/game_bg.gif") no-repeat left -150px; width: 334px; height: 108px; float: left; -ms-overflow-y: hidden;
}
.gct_r {
	background: url("/images/game_bg.gif") no-repeat left -150px; width: 334px; height: 108px; float: left; -ms-overflow-y: hidden;
}
.gct_r {
	background-position: left -20px; width: 438px; float: right;
}
.gct_l h3 {
	margin: 0px 0px 3px 25px; color: rgb(255, 255, 255); line-height: 22px; font-size: 14px; font-weight: normal;
}
.gct_r h3 {
	margin: 0px 0px 3px 25px; color: rgb(255, 255, 255); line-height: 22px; font-size: 14px; font-weight: normal;
}
.gct_l h3 {
	margin-top: 2px;
}
.gct_r h3 {
	font-size: 12px;
}
.gct_r h3 b {
	color: rgb(249, 206, 70); font-family: 宋体,Arial;
}
.gct_now {
	color: rgb(253, 151, 151); line-height: 22px; margin-left: 10px;
}
.gct_now1 {
	line-height: 26px; float: left;
}
.gct_now span {
	color: rgb(249, 206, 70); font-family: 宋体,Arial;
}
.gct_now b {
	color: rgb(249, 206, 70); font-family: 宋体,Arial;
}
.gct_time_now {
	background: url("/images/game_bg.gif") no-repeat right -266px; color: rgb(255, 255, 255); line-height: 28px; padding-right: 8px; font-size: 16px; font-weight: bold; margin-left: 10px; float: left;
}
.gct_time_now_l {
	background: url("/images/game_bg.gif") no-repeat left -266px; padding-left: 8px;
}
.gct_time {
	float: left;
}
.gct_menu {
	width: 64px; padding-right: 10px; float: right;
}
.gct_menu input {
	background: url("/images/menu_bg.jpg") no-repeat right -40px; margin: 4px 0px 0px; border: 0px currentColor; border-image: none; width: 64px; height: 24px; cursor: pointer;
}
.gct_menu input.gct_menu_yl {
	background-position: right -90px;
}
.gct_menu a {
	background: url("/images/menu_bg.jpg") no-repeat right -40px; margin: 4px 0px 0px; border: 0px currentColor; border-image: none; width: 64px; height: 24px; display: block; cursor: pointer;
}
.gct_menu a.gct_menu_yl {
	background-position: right -90px;
}
.tad {
	padding: 3px 0px 0px 9px; height: 108px;
}
.gct_r_nub {
	margin: 0px 0px 0px 6px;
}
.gr_s {
	background: url("/images/n.gif") no-repeat -720px top; margin: 3px 4px; width: 77px; height: 76px; float: left;
}
.gr_s1 {
	background-position: left top;
}
.gr_s2 {
	background-position: -80px top;
}
.gr_s3 {
	background-position: -160px top;
}
.gr_s4 {
	background-position: -240px top;
}
.gr_s5 {
	background-position: -320px top;
}
.gr_s6 {
	background-position: -400px top;
}
.gr_s7 {
	background-position: -480px top;
}
.gr_s8 {
	background-position: -560px top;
}
.gr_s9 {
	background-position: -640px top;
}
.gr_s0 {
	background-position: -720px top;
}
.gr_s01 {
	background-position: left bottom;
}
.gr_s02 {
	background-position: -80px bottom;
}
.gr_s03 {
	background-position: -160px bottom;
}
.gr_s04 {
	background-position: -240px bottom;
}
.gr_s05 {
	background-position: -320px bottom;
}
.gr_s06 {
	background-position: -400px bottom;
}
.gr_s07 {
	background-position: -480px bottom;
}
.gr_s08 {
	background-position: -560px bottom;
}
.gr_s09 {
	background-position: -640px bottom;
}
.gr_s10 {
	background-position: -720px bottom;
}
.gr_s11 {
	background-position: -800px bottom;
}
.gr_s020 {
	background-position: right top; width: 35px; height: 35px; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 16px; font-weight: bold;
}
.gr_sx {
	background-position: -800px top;
}
.gr_sk {
	background-position: -800px top;
}
.gr_ks {
	background: url("/images/ks.gif") no-repeat left top; margin: 3px 4px; width: 77px; height: 76px; float: left;
}
.gr_ks1 {
	background-position: left top;
}
.gr_ks2 {
	background-position: -78px top;
}
.gr_ks3 {
	background-position: -156px top;
}
.gr_ks4 {
	background-position: -234px top;
}
.gr_ks5 {
	background-position: -312px top;
}
.gr_ks6 {
	background-position: -390px top;
}
.gr_ksm1 {
	background-position: left bottom;
}
.gr_ksm2 {
	background-position: -78px bottom;
}
.gr_ksm3 {
	background-position: -156px bottom;
}
.gr_ksm4 {
	background-position: -234px bottom;
}
.gr_ksm5 {
	background-position: -312px bottom;
}
.gr_ksm6 {
	background-position: -390px bottom;
}
.gr_ksx {
	background: url("/images/n.gif") no-repeat -800px top; margin: 3px 4px; width: 77px; height: 76px; float: left;
}
.gr_ksk {
	background: url("/images/n.gif") no-repeat -800px top; margin: 3px 4px; width: 77px; height: 76px; float: left;
}
.tz_body .u_tab_div .tab-back {
	background: url("/images/game_bg.gif") no-repeat right -425px; padding: 3px 15px 0px; text-align: center; float: left; display: block; cursor: pointer;
}
.tz_body .u_tab_div .tab-front .content {
	color: rgb(51, 51, 51); text-decoration: none; _float: left;
}
.tz_body .u_tab_div .tab-front {
	background: url("/images/game_bg.gif") no-repeat right -390px; margin: 0px 0px 0px -3px; height: 34px; text-align: center; float: left; display: block; cursor: pointer;
}
.tz_body .u_tab_div .tab-front .content {
	background: url("/images/game_bg.gif") no-repeat left -390px; padding: 0px 15px; height: 34px; color: rgb(255, 255, 255); text-decoration: none; display: block; _float: left;
}
#changemode {
	background: url("/images/ts.gif") no-repeat left -286px; height: 30px; color: rgb(255, 255, 255); line-height: 30px; font-size: 13px; margin-left: 15px;
}
.tz_body {
	padding-bottom: 3px;
}
#tabCon {
	border: 1px solid rgb(131, 47, 46); border-image: none; height: 100%; position: relative; z-index: -2;
}
.trace_box {
	border: 1px solid rgb(131, 47, 46); border-image: none; height: 100%; position: relative; z-index: -2;
}
#tabCon .tabcon_n {
	padding: 2px 8px; border: 1px solid rgb(187, 107, 114); border-image: none; background-color: rgb(151, 27, 39);
}
.trace_box .tabcon_n {
	padding: 2px 8px; border: 1px solid rgb(187, 107, 114); border-image: none; background-color: rgb(151, 27, 39);
}
.nl_lt {
	background: url("/images/game_bg.gif") -20px top; width: 3px; height: 3px; position: absolute; z-index: -1; _line-height: 0; _font-size: 0;
}
.nl_rt {
	background: url("/images/game_bg.gif") -20px top; width: 3px; height: 3px; position: absolute; z-index: -1; _line-height: 0; _font-size: 0;
}
.nl_lb {
	background: url("/images/game_bg.gif") -20px top; width: 3px; height: 3px; position: absolute; z-index: -1; _line-height: 0; _font-size: 0;
}
.nl_rb {
	background: url("/images/game_bg.gif") -20px top; width: 3px; height: 3px; position: absolute; z-index: -1; _line-height: 0; _font-size: 0;
}
.nl_lt {
	left: -1px; top: -1px;
}
.tbn_lt {
	left: -1px; top: -1px;
}
.nl_rt {
	background-position: -23px top; top: -1px; right: -1px; _right: -2px;
}
.tbn_rt {
	background-position: -23px top; top: -1px; right: -1px; _right: -2px;
}
.nl_lb {
	background-position: -20px -3px; left: -1px; bottom: -1px; _height: 0; _width: 0;
}
.tbn_lb {
	background-position: -20px -3px; left: -1px; bottom: -1px; _height: 0; _width: 0;
}
.nl_rb {
	background-position: -23px -3px; right: -1px; bottom: -1px; _right: -2px; _height: 0; _width: 0;
}
.tbn_rb {
	background-position: -23px -3px; right: -1px; bottom: -1px; _right: -2px; _height: 0; _width: 0;
}
#tabCon .tz_li {
	padding: 2px 0px; height: 22px; line-height: 22px; display: block;
}
.tz_title {
	color: rgb(255, 255, 255); padding-right: 5px; font-weight: bold; float: left;
}
#tabCon .tz_li div {
	background: url("/images/game_bg.gif") no-repeat right -580px; padding: 0px 10px 0px 0px; height: 22px; text-decoration: none; margin-right: 12px; float: left; display: block; cursor: pointer;
}
#tabCon .tz_li div span {
	background: url("/images/game_bg.gif") no-repeat left -580px; padding: 0px 0px 0px 10px; height: 22px; color: rgb(254, 224, 224); display: block; _float: left;
}
#tabCon .tz_li div:hover {
	background-position: right -610px;
}
#tabCon .tz_li div:hover span {
	background-position: left -610px;
}
#tabCon .tz_li div.act {
	background: url("/images/menu_bg.jpg") no-repeat right -200px;
}
#tabCon .tz_li div.act span {
	background: url("/images/menu_bg.jpg") no-repeat left -200px; color: rgb(58, 0, 0); font-weight: bold;
}
.tzn_body {
	border: 1px solid rgb(114, 114, 114); border-image: none; margin-bottom: 3px; position: relative; _zoom: 1;
}
.tzn_b_n {
	border: 1px solid rgb(157, 157, 157); border-image: none; background-color: rgb(94, 94, 94); _zoom: 1;
}
.tbn_lt {
	background: url("/images/game_bg.gif") -40px top; width: 3px; height: 3px; position: absolute; _line-height: 0; _font-size: 0;
}
.tbn_rt {
	background: url("/images/game_bg.gif") -40px top; width: 3px; height: 3px; position: absolute; _line-height: 0; _font-size: 0;
}
.tbn_lb {
	background: url("/images/game_bg.gif") -40px top; width: 3px; height: 3px; position: absolute; _line-height: 0; _font-size: 0;
}
.tbn_rb {
	background: url("/images/game_bg.gif") -40px top; width: 3px; height: 3px; position: absolute; _line-height: 0; _font-size: 0;
}
.tbn_lt {
	left: -1px; top: -1px;
}
.tbn_rt {
	background-position: -43px top; top: -1px; right: -1px; _right: -2px;
}
.tbn_lb {
	background-position: -40px -3px; left: -1px; bottom: -1px; _height: 0; _width: 0;
}
.tbn_rb {
	background-position: -43px -3px; right: -1px; bottom: -1px; _right: -2px; _height: 0; _width: 0;
}
.tbn_top {
	padding: 5px 0px 5px 8px; height: 19px; line-height: 18px;
}
.tbn_top h5 {
	height: 19px; float: left; display: block;
}
.tbn_top a {
	height: 19px; float: left; display: block;
}
.tbn_top span {
	height: 19px; float: left; display: block;
}
.tbn_top h5 {
	color: rgb(255, 255, 255); font-weight: normal;
}
.tbn_top .methodexample {
	background: url("/images/menu_bg.jpg") no-repeat right -140px; width: 41px; margin-left: 10px;
}
.tbn_top .methodhelp {
	background: url("/images/menu_bg.jpg") no-repeat right -140px; width: 41px; margin-left: 10px;
}
.tbn_top .methodhelp {
	background-position: right -170px; width: 17px;
}
.tbn_cen {
	background-color: rgb(114, 114, 114);
}
.tbn_c_ft {
	background: url("/images/fg.gif") repeat-x left top; height: 4px; _line-height: 0; _font-size: 0;
}
.tbn_c_fb {
	background: url("/images/fg.gif") repeat-x left top; height: 4px; _line-height: 0; _font-size: 0;
}
.tbn_c_fb {
	background-image: url("/images/fg2.gif");
}
.tbn_c_s {
	display: inline-table;
}
.tbn_c_s .c {
	clear: both; float: none;
}
.tbn_c_s .nbs {
	padding: 5px; height: 40px; font-family: YaHeiConsolas,"Microsoft YaHei","宋体" !important; margin-bottom: 0px;
}
.tbn_c_s .single {
	height: 120px;
}
.tbn_c_s .selposition {
	height: 30px; color: rgb(255, 255, 255); line-height: 30px; margin-left: 100px;
}
.tbn_c_s .selposition label {
	margin: 0px 5px; cursor: pointer;
}
.tbn_c_s .nbs .ti {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .nbs .tiempty {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .nbs .nb {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .nbs .nbts {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .nbs .nbksts {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .nbs .bl {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .nbs .to {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .nbs .ti {
	background: url("/images/game_bg.gif") no-repeat left bottom; padding: 10px 0px; width: 82px; height: 18px; text-align: center; color: rgb(255, 255, 255); line-height: 18px; font-size: 16px; margin-right: 0px; margin-bottom: 5px;
}
.tbn_c_s .nbs .tiempty {
	padding: 10px 0px; width: 82px; height: 18px; text-align: center; color: rgb(255, 255, 255); line-height: 18px; font-size: 16px; margin-right: 0px; margin-bottom: 15px; background-image: none;
}
.tbn_c_s .nbs .nb {
	padding: 0px 10px; height: 38px; margin-right: 0px;
}
.tbn_c_s .nbs .nb div {
	background: url("/images/menu_bg.jpg") no-repeat left -80px; width: 36px; height: 38px; text-align: center; color: rgb(0, 0, 0); line-height: 36px; font-size: 20px; font-weight: bold; text-decoration: none; margin-right: 2px; margin-bottom: 5px; float: left; display: block; cursor: pointer;
}
.tbn_c_s .nbs .keno.nb div {
	background-position: -112px -80px; width: 30px; font-size: 15px;
}
.tbn_c_s .nbs .nb .on {
	background-position: left -40px; color: rgb(255, 255, 255);
}
.tbn_c_s .nbs .keno.nb .on {
	background-position: -112px -40px; color: rgb(255, 255, 255);
}
.tbn_c_s .nbs .nbts {
	margin: 0px 5px 10px; padding: 0px 15px; height: 38px;
}
.tbn_c_s .nbs .nbts div {
	background: url("/images/menu_bg.jpg") no-repeat -37px -80px; width: 72px; height: 38px; text-align: center; color: rgb(0, 0, 0); line-height: 36px; font-size: 18px; font-weight: bold; text-decoration: none; margin-right: 2px; margin-bottom: 5px; float: left; display: block; cursor: pointer;
}
.tbn_c_s .nbs .nbts .on {
	background-position: -37px -40px; color: rgb(255, 255, 255);
}
.tbn_c_s .nbs .nbksts {
	margin: 0px 5px 10px; padding: 0px 15px; height: 38px;
}
.tbn_c_s .nbs .nbksts div {
	background: url("/images/menu_bg.jpg") no-repeat -37px -80px; width: 72px; height: 38px; text-align: center; color: rgb(0, 0, 0); line-height: 36px; font-size: 18px; font-weight: bold; text-decoration: none; margin-right: 2px; margin-bottom: 5px; float: left; display: block; cursor: pointer;
}
.tbn_c_s .nbs .nbksts .on {
	background-position: -37px -40px; color: rgb(255, 255, 255);
}
.tbn_c_s .nbs .bl {
	margin: 0px 5px 10px; padding: 0px 15px; height: 38px;
}
.tbn_c_s .nbs .bl div {
	background: url("/images/menu_bg.jpg") no-repeat -37px -80px; width: 72px; height: 38px; text-align: center; color: rgb(0, 0, 0); line-height: 36px; font-size: 15px; font-weight: bold; text-decoration: none; margin-right: 5px; margin-bottom: 5px; float: left; display: block; cursor: pointer;
}
.tbn_c_s .nbs .bl .on {
	background-position: -37px -40px; color: rgb(255, 255, 255);
}
.codedesc {
	font-size: 12px; display: block;
}
.tbn_c_s .nbs .to {
	height: 38px; padding-left: 5px; margin-left: 5px;
}
.tbn_c_s .nbs .to li {
	float: left; display: block; cursor: pointer;
}
.tbn_c_s .nbs .to .dxjoq {
	background: url("/images/menu_bg.jpg") no-repeat left -160px; margin: 3px; width: 33px; height: 32px; text-align: center; color: rgb(0, 0, 0); line-height: 30px; font-size: 14px; font-weight: bold;
}
.tbn_c_s .nbs .to .on {
	background: url("/images/menu_bg.jpg") no-repeat left -120px; color: rgb(255, 255, 255);
}
.tbn_c_s .random_sel_button {
	margin: 0px auto; padding: 0px 0px 5px; width: 650px; height: 80px; display: none;
}
.tbn_c_s .funny_desc {
	height: 35px; color: rgb(255, 255, 255); line-height: 35px; padding-left: 10px; float: left;
}
.tbn_c_s .random_button {
	background: url("/images/menu_bg.jpg") no-repeat -35px -160px; margin: 3px; width: 66px; height: 32px; text-align: center; color: rgb(0, 0, 0); line-height: 30px; font-size: 12px; font-weight: bold; float: left; cursor: pointer;
}
.tbn_c_s .possibleprize {
	background: url("/images/menu_bg.jpg") no-repeat -35px -160px; margin: 3px; width: 66px; height: 32px; text-align: center; color: rgb(0, 0, 0); line-height: 30px; font-size: 12px; font-weight: bold; float: left; cursor: pointer;
}
.tbn_c_s .random_sel_button .on {
	background: url("/images/menu_bg.jpg") no-repeat -35px -120px; color: rgb(255, 255, 255);
}
.tbn_c_s .nbs .ha {
	height: 38px; overflow: hidden; float: left;
}
.tbn_c_s .lsb {
	background: url("/images/other.gif") no-repeat -5px -820px; border: 0px currentColor; border-image: none; height: 25px; text-align: center; line-height: 25px; margin-bottom: 5px; display: block; cursor: pointer;
}
.write_box_desc {
	padding: 10px 0px 5px; color: rgb(255, 255, 255); display: block;
}
.tz_tab_list_box {
	-ms-overflow-y: scroll; max-height: 200px;
}
.tz_tab_list {
	width: 528px;
}
.tz_tab_list td {
	background: url("/images/game_bg.gif") repeat-x left -480px; height: 20px; line-height: 20px; margin-bottom: 1px;
}
.tz_tab_list .tl_li_l {
	background: url("/images/game_bg.gif") no-repeat left -460px; width: 4px; height: 20px;
}
.tz_tab_list .tl_li_r {
	background: url("/images/game_bg.gif") no-repeat left -460px; width: 4px; height: 20px;
}
.tz_tab_list .tl_li_rn {
	background: url("/images/game_bg.gif") no-repeat left -460px; width: 4px; height: 20px;
}
.tz_tab_list .tl_li_r {
	background-position: right -500px; width: 16px; cursor: pointer;
}
.tz_tab_list .tl_li_rn {
	background-position: -5px -460px;
}
.tbn_bot {
	padding: 5px 8px 5px 0px;
}
.tbn_b_top {
	padding: 10px 0px; width: 773px; height: 30px; display: inline-table;
}
.tbn_bt_sel {
	width: 643px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; float: left;
}
.tbn_bt_sel strong {
	color: rgb(255, 255, 0); font-size: 14px;
}
.changetime {
	background: url("/images/menu_bg.jpg") no-repeat -5px -85px; padding: 2px 1px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(0, 0, 0); font-size: 12px; vertical-align: middle; cursor: pointer; _padding: 4px 1px 0 1px;
}
.g_submit {
	background: url("/images/menu_bg.jpg") no-repeat left -410px; width: 126px; height: 29px; float: right; display: block; cursor: pointer;
}
.g_submit:hover {
	background-position: left -440px;
}
.tbn_b_bot {
	padding: 10px 0px 0px;
}
.tbn_bb_l {
	border: 1px solid rgb(71, 70, 70); border-image: none; width: 548px; float: left;
}
.tbn_bb_ln {
	padding: 2px 0px 0px 1px; border: 1px solid rgb(184, 183, 183); border-image: none; position: relative; background-color: rgb(157, 157, 157); _zoom: 1;
}
.tbn_bb_ln h4 {
	background: url("/images/menu_bg.jpg") no-repeat left top; padding: 0px 3px 0px 28px; height: 28px; color: rgb(255, 255, 255); line-height: 28px; display: block;
}
.tbn_bb_ln h4 .tbn_clear {
	background: url("/images/game_bg.gif") no-repeat left -428px; border: currentColor; border-image: none; width: 52px; height: 26px; padding-top: 2px; float: right; cursor: pointer;
}
.tbn_bb_r {
	float: right; _width: 205px;
}
.tbn_bb_r .sub_txt {
	background: url("/images/menu_bg.jpg") no-repeat left bottom; width: 204px; height: 84px; margin-bottom: 2px;
}
.tbn_bb_r .sub_txt p {
	padding: 0px 0px 0px 8px; line-height: 22px;
}
.tbn_bb_r .sub_txt p strong {
	color: rgb(255, 0, 0);
}
.tbn_bb_r .sub_txt p select {
	width: 145px;
}
.tbn_bb_r .g_submit {
	background-position: left -270px; width: 128px; height: 37px; cursor: pointer;
}
.tbn_bb_r .g_submit:hover {
	background-position: left -310px;
}
.zh_body {
	margin: 0px; height: 100%; padding-bottom: 3px; _padding-bottom: 5px;
}
.zh_body .unit {
	padding: 0px;
}
.zh_body .unit_title {
	background-position: left -760px; margin: 0px; padding: 0px; height: 36px; position: relative;
}
.zh_body .unit_title .ut_l {
	background-position: left -720px; height: 36px;
}
.zh_body .unit_title .ut_r {
	background-position: right -800px; height: 36px;
}
.zh_body .unit_title h4 {
	margin: 5px 5px 0px; line-height: 26px; float: left; display: block;
}
.zh_body .unit_title .ut_zh {
	margin: 5px 5px 0px; line-height: 26px; float: left; display: block;
}
.zh_body .unit_title h4 {
	background: url("/images/game_bg.gif") no-repeat right -680px; height: 28px;
}
.zh_body .unit_title h4 .zh_title {
	background: url("/images/game_bg.gif") no-repeat right -680px; height: 28px;
}
.zh_body .unit_title h4 .zh_title {
	background-position: left -680px; padding: 0px 15px 0px 10px; color: rgb(255, 255, 255); text-decoration: none; display: block; cursor: pointer; _float: left;
}
.zh_body .unit_title h4 .zh_title input {
	margin-top: 3px; vertical-align: middle; float: left; display: none;
}
.zh_body .unit_title .ut_zh {
	font-size: 12px; font-weight: normal;
}
.zh_body .unit_title .ut_zh .zh_continue {
	cursor: pointer;
}
.zh_body .unit_title .ut_zh input {
	vertical-align: middle;
}
.zh_body .unit_title2 {
	height: 100%;
}
.zh_body .trace_box {
	z-index: 1;
}
.zh_body .trace_box .tabcon_n {
	padding: 2px 3px;
}
.zh_body .tab-back {
	background: url("/images/game_bg.gif") no-repeat -290px -640px; margin: 0px 10px 0px 0px; padding: 0px 10px; height: 33px; color: rgb(255, 255, 255); line-height: 25px; float: left; display: block; cursor: pointer;
}
.zh_body .tab-front {
	background: url("/images/menu_bg.jpg") no-repeat right -230px; margin: 0px 10px 0px 0px; padding: 0px 10px; height: 33px; color: rgb(0, 0, 0); line-height: 25px; font-weight: bold; float: left; display: block; cursor: pointer;
}
.zh_body .zhgen {
	padding: 6px 10px; height: 100%; color: rgb(255, 255, 255); line-height: 28px; background-color: rgb(91, 91, 91);
}
.zh_body .zhgen .y {
	color: rgb(255, 201, 60);
}
.zh_body .zhgen #lt_trace_labelhtml input {
	text-align: center; color: red;
}
.zh_body .zhlist {
	border-width: 1px; border-style: solid; border-color: rgb(34, 34, 34) rgb(255, 255, 255) rgb(255, 255, 255); height: 280px; -ms-overflow-y: scroll; background-color: rgb(255, 255, 255);
}
.zh_body .zhlist table {
	border: 0px currentColor; border-image: none; width: 752px; color: rgb(201, 201, 201); background-color: rgb(255, 255, 255);
}
.zh_body .zhlist table td {
	background: url("/images/game_bg.gif") repeat-x left -550px; height: 24px; text-align: center; color: rgb(0, 0, 0); line-height: 24px; overflow: hidden; font-family: 宋体, Arial; cursor: pointer;
}
.zh_body .zhlist table .r1 {
	width: 70px; padding-left: 10px;
}
.zh_body .zhlist table .r2 {
	background: url("/images/v1/game17.png") no-repeat -111px -307px; margin: 0px 6px 0px 0px; padding: 0px; border: 0px currentColor; border-image: none; width: 35px; height: 15px; text-align: center; color: rgb(153, 153, 153);
}
.zh_body .zhlist table .on .r2 {
	color: red;
}
.zhlist table .hv .r2 {
	color: red;
}
.zh_body .zhlist table .on td {
	background-position: left -520px;
}
.zh_body .zhlist table .hv td {
	background-position: left -520px;
}
.zhgen .g_submit {
	background-position: left -350px; cursor: pointer;
}
.zhgen .g_submit:hover {
	background-position: left -380px;
}
.trace_box .tz_li {
	padding: 2px 0px; line-height: 19px; display: block; _padding-bottom: 1px;
}
.yx_body {
	padding-bottom: 3px;
}
.yx_body .unit {
	padding-top: 34px; _height: 0px;
}
.yx_body .unit_title {
	background-position: left -760px; height: 36px;
}
.yx_body .unit_title .ut_l {
	background-position: left -720px; height: 36px;
}
.yx_body .unit_title .ut_r {
	background-position: right -800px; height: 36px;
}
.yx_body .unit_title h4 {
	margin: 5px 5px 0px; line-height: 26px; float: left; display: block;
}
.yx_body .unit_title .ut_zh {
	margin: 5px 5px 0px; line-height: 26px; float: left; display: block;
}
.yx_body .unit_title h4 {
	background: url("/images/game_bg.gif") no-repeat right -680px; height: 28px;
}
.yx_body .unit_title h4 .yx_title {
	background: url("/images/game_bg.gif") no-repeat right -680px; height: 28px;
}
.yx_body .unit_title h4 .yx_title {
	background-position: left -680px; padding: 0px 15px 0px 10px; color: rgb(255, 255, 255); text-decoration: none; display: block; cursor: pointer; _float: left;
}
.yx_body .yx_box {
	border: 1px solid rgb(131, 47, 46); border-image: none; margin-top: 2px; position: relative;
}
.yx_body .nl_lt {
	z-index: 1; _display: none;
}
.yx_body .nl_rt {
	z-index: 1; _display: none;
}
.yx_body .nl_lb {
	z-index: 1; _display: none;
}
.yx_body .nl_rb {
	z-index: 1; _display: none;
}
.yx_body .yxlist {
	padding: 0px 4px 4px; border: 1px solid rgb(187, 107, 114); border-image: none; background-color: rgb(151, 27, 39);
}
.yx_body .yxlist table {
	border: 0px currentColor; border-image: none; color: rgb(201, 201, 201); background-color: rgb(255, 255, 255);
}
.yx_body .yxlist table th {
	height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; background-color: rgb(151, 27, 39);
}
.yx_body .yxlist table td {
	background: url("/images/game_bg.gif") repeat-x left -550px; height: 24px; text-align: center; color: rgb(0, 0, 0); line-height: 24px; overflow: hidden; font-family: 宋体, Arial; cursor: pointer;
}
.yx_body .yxlist table tr.cancel td {
	background-position: left -520px;
}
.yx_body .yxlist table td a {
	color: rgb(0, 0, 0);
}
#copyright {
	background: url("/images/footer_bg.gif") no-repeat center; height: 27px; text-align: center; margin-bottom: 15px;
}
#copyright p {
	color: rgb(230, 230, 230); line-height: 25px;
}
.mdl span {
	background: url("/images/ts.gif") repeat-x; display: block;
}
.mdl div {
	background: url("/images/ts.gif") repeat-x; display: block;
}
.mdl {
	margin: 10px; padding: 38px 7px 12px; width: 80%; overflow: hidden; position: relative;
}
.mdl h3 {
	margin: 5px 0px 0px; left: 20px; top: 9px; color: rgb(255, 255, 255); letter-spacing: 1px; font-size: 14px; position: absolute; z-index: 3;
}
.mdl h4 {
	background: rgb(255, 255, 255); margin: 0px; padding: 3px 60px 5px 5px; text-align: center; line-height: 18px; font-size: 12px; font-weight: normal; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.mdl_t_l {
	position: absolute; z-index: 2;
}
.mdl_t_c {
	position: absolute; z-index: 2;
}
.mdl_t_r {
	position: absolute; z-index: 2;
}
.mdl_c_l {
	position: absolute; z-index: 2;
}
.mdl_c_r {
	position: absolute; z-index: 2;
}
.mdl_b_l {
	position: absolute; z-index: 2;
}
.mdl_b_c {
	position: absolute; z-index: 2;
}
.mdl_b_r {
	position: absolute; z-index: 2;
}
.mdl_clo {
	position: absolute; z-index: 2;
}
.mdl .mdl_t_l {
	background-position: left -400px; left: 0px; top: 0px; width: 12px; height: 38px;
}
.mdl .mdl_t_c {
	background-position: left -341px; left: 4px; top: 0px; width: 100%; height: 38px; z-index: 1;
}
.mdl .mdl_t_c span {
	background-position: left -341px; height: 38px;
}
.mdl .mdl_t_r {
	background-position: right -400px; top: 0px; width: 12px; height: 38px; right: 0px;
}
.mdl .mdl_c_l {
	left: 0px; top: 0px; width: 7px; margin-top: 2px; border-right-color: rgb(79, 79, 79); border-right-width: 2px; border-right-style: solid; z-index: 1; background-color: rgb(6, 6, 6);
}
.mdl .mdl_c_l span {
	background: rgb(6, 6, 6); width: 7px; height: 2000px;
}
.mdl .mdl_c_r {
	top: 0px; width: 7px; right: 0px; border-left-color: rgb(79, 79, 79); border-left-width: 2px; border-left-style: solid; z-index: 1; background-color: rgb(6, 6, 6);
}
.mdl .mdl_c_r span {
	background: rgb(6, 6, 6); width: 7px; height: 2000px;
}
.mdl .mdl_b_l {
	left: 0px; width: 7px; height: 12px; bottom: 0px; background-image: none; background-color: rgb(9, 9, 9);
}
.mdl .mdl_b_c {
	background: none; width: 100%; height: 12px; bottom: 0px; _left: 6px;
}
.mdl .mdl_b_c span {
	background-position: left -540px; height: 12px; bottom: 0px; background-color: rgb(9, 9, 9);
}
.mdl .mdl_b_r {
	width: 7px; height: 12px; right: 0px; bottom: 0px; background-image: none; background-color: rgb(9, 9, 9);
}
.mdl .mdl_clo {
	top: 2px; right: 8px; color: rgb(255, 255, 255); margin-top: 14px; z-index: 10; background-image: none;
}
.mdl .mdl_clo .c1 {
	background: url("/images/ts.gif") no-repeat left -260px; width: 35px; height: 26px; cursor: pointer;
}
.mdl .mdl_clo .c2 {
	background: url("/images/ts.gif") no-repeat left -260px; width: 35px; height: 26px;
}
.mdl table {
	width: 100%; background-color: rgb(255, 255, 255);
}
.mdl table td {
	background: rgb(255, 255, 255); padding: 3px 5px; text-align: left; line-height: 16px;
}
.mdl .data {
	background: rgb(244, 244, 244); height: 130px; overflow: scroll; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted; float: none; -ms-overflow-x: hidden;
}
.mdl .chat {
	background: rgb(244, 244, 244); height: 130px; overflow: scroll; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted; float: none; -ms-overflow-x: hidden;
}
.mdl .datainfo {
	background: rgb(244, 244, 244); height: 130px; overflow: scroll; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted; float: none; -ms-overflow-x: hidden;
}
.mdl .datainfo {
	background: rgb(255, 255, 255);
}
.mdl .data table {
	table-layout: fixed;
}
.mdl .data table td {
	background: rgb(244, 244, 244); color: rgb(102, 102, 102); line-height: 14px; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.mdl .chat {
	background: rgb(181, 178, 181); padding: 3px 0px; height: 300px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted;
}
.mdl .chat table td {
	margin: 0px; padding: 0px;
}
.mdl .ta0 {
	width: 490px; line-height: 16px; font-size: 12px;
}
.mdl .yh {
	background: url("/images/ts.gif") no-repeat left -580px; border: 0px currentColor; border-image: none; width: 65px; height: 31px; text-align: center; color: rgb(85, 85, 85); line-height: 29px; vertical-align: middle;
}
.mdl .yh:hover {
	background-position: left -620px;
}
.icons_mb5_s {
	background: url("/images/ts.gif") no-repeat -60px 0px; margin: 0px 5px 0px 0px; width: 42px; height: 42px;
}
.icons_mb5_e {
	background: url("/images/ts.gif") no-repeat -180px 0px; margin: 0px 5px 0px 0px; width: 42px; height: 42px;
}
.icons_mb5_n {
	background: url("/images/ts.gif") no-repeat -120px 0px; margin: 0px 5px 0px 0px; width: 42px; height: 42px;
}
.icons_mb5_q {
	background: url("/images/ts.gif") no-repeat 0px 0px; margin: 0px 5px 0px 0px; width: 42px; height: 42px;
}
.icons_q1 {
	background: url("/images/v1/icons.png") no-repeat -2px -92px; width: 13px; height: 13px; cursor: pointer;
}
.mdl .binfo {
	float: left; display: block; background-image: none;
}
.mdl .binfo span {
	float: left; display: block; background-image: none;
}
.mdl .binfo .bbl {
	width: 9px; height: 27px;
}
.mdl .binfo .bbr {
	background: url("/images/ts.gif") no-repeat right -290px; width: 9px; height: 27px;
}
.mdl .binfo .bbm {
	background: url("/images/ts.gif") no-repeat left -290px; padding: 0px 10px; height: 27px; text-align: right; color: rgb(0, 0, 0); line-height: 27px; display: block;
}
.hr1 {
	background: url("/images/v1/main_header_bg.jpg") no-repeat 0px -302px; margin: 5px 0px; width: 650px; height: 2px; overflow: hidden;
}
.mdl .zdinfo {
	background: rgb(83, 83, 83); color: rgb(255, 204, 51); padding-left: 10px;
}
.mdl .zdinfo div {
	background: none;
}
.mdl .zdinfo table {
	margin: 0px; padding: 0px;
}
.mdl .zdinfo table td {
	background: rgb(83, 83, 83); height: 14px; line-height: 14px;
}
.mdl .zdinfo table .th td {
	margin: 0px; padding: 0px; height: 36px; line-height: 36px;
}
.mdl .zdinfo table .d td {
	background: rgb(249, 249, 249); text-align: center; line-height: 30px;
}
.mdl .zdinfo table td span {
	background: none; color: rgb(255, 255, 255); display: inline;
}
.mdl .zdinfo textarea {
	font-size: 12px;
}
.mdl .zdinfo .t1 {
	padding: 3px; border: 1px solid rgb(51, 51, 51); border-image: none; font-size: 12px; background-color: rgb(216, 216, 216);
}
.mdl .title {
	padding: 10px; font-weight: bold; background-image: none;
}
.mdl .hisinfo span {
	background-image: none;
}
.mdl .hisinfo div {
	background-image: none;
}
.mdl .hisinfo {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0); margin-left: -2px;
}
.mdl .hisinfo div {
	background: none;
}
.mdl .hisinfo td {
	background: rgb(255, 255, 255); padding: 0px 10px; height: 30px; text-align: left; line-height: 30px; font-size: 12px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.mdl .hisinfo .th td {
	background: url("/images/other.gif") repeat-x left -460px; margin: 0px; height: 37px; text-align: center; color: rgb(255, 255, 255); line-height: 37px; font-weight: bold; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.mdl .hisinfo .d td {
	text-align: center; font-weight: normal;
}
.mdl .hisinfo textarea {
	font-size: 12px;
}
.mdl .hisinfo span {
	color: rgb(0, 98, 181); font-size: 12px; font-weight: normal; display: inline;
}
.fbox {
	margin: 0px; padding: 0px; text-align: left; display: inline-block; z-index: 1;
}
.fbox .t .tl {
	background: url("/images/v1/game17.png") no-repeat 0px -489px; width: 5px; height: 5px;
}
.fbox .t .tr {
	background: url("/images/v1/game17.png") no-repeat -6px -489px; width: 5px; height: 5px;
}
.fbox .t .tm {
	background: url("/images/v1/game17.png") repeat-x 0px -496px; margin: 0px; height: 5px; overflow: hidden;
}
.fbox .mm {
	width: 100%; text-align: left; line-height: 16px; background-color: rgb(204, 204, 204);
}
.fbox .mm .ml {
	overflow: hidden; font-size: 0px; border-left-color: rgb(34, 34, 34); border-left-width: 1px; border-left-style: solid;
}
.fbox .mm .mr {
	overflow: hidden; font-size: 0px; border-right-color: rgb(34, 34, 34); border-right-width: 1px; border-right-style: solid;
}
.fbox .in {
	margin-top: 6px; margin-left: 3px;
}
.fbox .ic {
	background: url("/images/v1/game17.png") no-repeat -27px -485px; width: 10px; height: 10px; overflow: hidden; margin-top: 3px; margin-right: 6px; float: left;
}
.fbox .b .bl {
	background: url("/images/v1/game17.png") no-repeat -12px -489px; width: 5px; height: 5px;
}
.fbox .b .br {
	background: url("/images/v1/game17.png") no-repeat -18px -489px; width: 5px; height: 5px;
}
.fbox .b .bm {
	border-bottom-color: rgb(34, 34, 34); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(204, 204, 204);
}
.fbox .ar {
	left: 30px; bottom: 8px; position: relative;
}
.fbox .ar .ic {
	background: url("/images/v1/game17.png") no-repeat -103px -502px; width: 15px; height: 11px; position: absolute; z-index: 5;
}
.fbox .ta {
	width: 210px; height: 50px; font-size: 12px; font-weight: lighter; background-color: rgb(204, 204, 204);
}
.ibox {
	margin: 0px; padding: 0px; width: 300px; text-align: left; display: inline-block; z-index: 1;
}
.ibox .t .tl {
	background: url("/images/v1/game17.png") no-repeat -50px -488px; width: 4px; height: 5px;
}
.ibox .t .tr {
	background: url("/images/v1/game17.png") no-repeat -55px -488px; width: 4px; height: 5px;
}
.ibox .t .tm {
	background: url("/images/v1/game17.png") repeat-x 0px -514px; height: 5px;
}
.ibox .mm {
	width: 100%; text-align: left; color: rgb(255, 255, 255); line-height: 16px; background-color: rgb(101, 101, 101);
}
.ibox .mm .ml {
	overflow: hidden; font-size: 0px; border-left-color: rgb(34, 34, 34); border-left-width: 1px; border-left-style: solid;
}
.ibox .mm .mr {
	overflow: hidden; font-size: 0px; border-right-color: rgb(34, 34, 34); border-right-width: 1px; border-right-style: solid;
}
.ibox .mm .cy {
	color: rgb(255, 204, 0);
}
.ibox .b .bl {
	background: url("/images/v1/game17.png") no-repeat -60px -490px; width: 4px; height: 3px;
}
.ibox .b .br {
	background: url("/images/v1/game17.png") no-repeat -65px -490px; width: 4px; height: 3px;
}
.ibox .b .bm {
	border-bottom-color: rgb(34, 34, 34); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(101, 101, 101);
}
.ibox .ar {
	left: 30px; bottom: 3px; position: relative;
}
.ibox .ar .ic {
	background: url("/images/v1/game17.png") no-repeat -73px -524px; width: 30px; height: 11px; position: absolute; z-index: 5;
}
.win_bot {
	background: url("/images/ts.gif") no-repeat left -120px; width: 218px; height: 124px; text-align: left; right: 0px; bottom: 55px; position: fixed; z-index: 999;
}
.win_bot h5 {
	padding: 6px 0px 8px 20px; width: 140px; height: 16px; color: rgb(255, 255, 255); line-height: 16px; overflow: hidden; font-weight: normal; float: left; display: block;
}
.wb_close {
	background: url("/images/ts.gif") no-repeat right -120px; margin: 8px; width: 14px; height: 14px; float: right; cursor: pointer; _margin: 8px 4px 0 0;
}
.wb_con {
	margin: 0px 3px 3px 0px; padding: 0px 0px 0px 10px; height: 70px; -ms-overflow-x: hidden; -ms-overflow-y: scroll;
}
.wb_con p {
	text-indent: 20px;
}
a.wb_p {
	margin: 1px 10px 0px 13px; width: 40px; height: 16px; text-align: center; color: rgb(51, 51, 51); text-decoration: none; float: left; display: block; _margin: 4px 4px 0 6px;
}
a.wb_n {
	margin: 1px 10px 0px 13px; width: 40px; height: 16px; text-align: center; color: rgb(51, 51, 51); text-decoration: none; float: left; display: block; _margin: 4px 4px 0 6px;
}
a.wb_p {
	padding-left: 12px;
}
a.wb_n {
	padding-right: 12px; float: right;
}
