@charset "utf-8";

.tableclass{width:762px;color:#363636;font-size:12px;BORDER-COLLAPSE: collapse;border-right:1px solid #a7a7a7;border-bottom:1px solid #a7a7a7;}
.tableclass td{border-left:1px solid #a7a7a7;border-top:1px solid #a7a7a7;}
.tableclass tr{height:30px;}
.tableclass .tdrightbg{text-align:right;background:#c3efca;font-weight:bold;font-size:12px;color:#555555;}
.tableclass .tdleftbg{padding-left:8px;background:#ecf8ee;font-weight:normal;font-size:13px;color:#000000;font-family:'微软雅黑'}

.bntclass{color:#44788e;background: url(/images/John/button.png); height: 30px; width: 81px; background-position: -401px -75px;border:0px;font-weight:bolder;cursor:pointer;}
.bntclass:hover{color:#9a6634;background: url(/images/John/button.png); height: 30px; width: 81px; background-position: -307px -75px;border:0px;font-weight:bolder;cursor:pointer;}
.delete_icon_cancel{background: url(/images/delete.png);cursor:pointer;border:0px;}
.delete_icon_cancel2{background: url(/images/remove2.png);cursor:pointer;border:0px;width:18px;height:19px;}
.code1 {
	width: 250px !important;
	width: 295px;
	height: 80px;
	line-weight: 20px;
	color: #000;
	background: #FFF;
	text-align: left;
	overflow-y: auto;
	border: 1px #131E31 double;
	border-left: 0px;
}

.project_more {
	cursor: pointer;
	color: #0000FF;
}

.projects_more {
	width: 250px;
	background: #000000;
	position: absolute;
	z-index: 100;
	border: 1px #999999 double;
	padding: 0px;
	color: #FFFFFF;
	text-align: left;
}

.projects_more span {
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	margin-left: 0px;
}

.projects_more .code {
	width: 274px;
	height: 80px;
	line-height: 20px;
	color: #FFFFFF;
	background: #000000;
	text-align: left;
	border: 1px #999999 double;
}

.projects_more .close {
	cursor: pointer;
}

.projectidarea {
	text-decoration: none;
	color: #000000;
}
/* Scroller Box */  
 #scroller_container {  
  position: relative;  
  width: 120px;  
  height: 200px;  
  overflow: hidden;  
 }  
 #scroller p {  
  padding: 0;  
 }  
 /* Scoller Box   */
#last_issue{
    position: absolute;
    top:0px;
    left:7px;
}

.alink a{
	color: #192E32;
	text-decoration: none;
}
.alink a:hover{
	color: #9D7250;
	text-decoration: underline;
}