
#current{width:761px;height:38px;border:1px solid #efe3cb;color:#4e4c4c;font-size:12px;background:#fdf6e7;padding:0px 0px 0px 0px;}
.current_location{padding:10px 0px 0px 22px;float:left;}
.current_location1{padding:10px 0px 0px 22px;float:left;}
#current_prompt{width:100%;height:120px;border:1px solid #b9cae1;color:#4e4c4c;font-size:12px;background:#f0f6fe;}
.current_message{padding:13px 0px 0px 22px;float:left;}
.current_message_{padding:10px 0px 0px 108px;float:left;}
#current_bank{width:763px;height:149px;font-size:14px;float:left;border:#b9cae1 solid 1px;background:#ffffff;}
#current_bank_name{height:60px;color:#666666;font-size:12px;background:#eaeced;}
#build1{width:160px;height:46px;border-left:#b9cae1 solid 1px;color:#17181c;font-size:14px;background:#ffffff;float:left;}
#card1{width:166px;height:46px;border-left:#b9cae1 solid 1px;color:#17181c;font-size:14px;background:#ffffff;float:left;}
#time1{width:278px;height:46px;border-left:#b9cae1 solid 1px;color:#17181c;font-size:14px;background:#ffffff;float:left;}
#operating1{width:155px;height:46px;border-left:#b9cae1 solid 1px;color:#666666;font-size:14px;background:#ffffff;float:left;}

#current_air{width:761px;height:13px ;float:left;}
#current_but{width:761px;height:180px}
#but{color:#44788e;background: url(/images/John/button.png); height: 30px; width: 81px; background-position: -401px -75px;border:0px;font-weight:bolder;cursor:pointer;}
.bntclass{color:#44788e;background: url(/images/John/button.png); height: 30px; width: 81px; background-position: -401px -75px;border:0px;font-weight:bolder;cursor:pointer;}
.bntclass:hover{color:#9a6634;background: url(/images/John/button.png); height: 30px; width: 81px; background-position: -307px -75px;border:0px;font-weight:bolder;cursor:pointer;}
.but{padding:13px 0px 0px 248px ;}
.but1{padding:0px 0px 0px 28px ;}
#but1{color:#9a6634;background: url(/images/John/button.png); height: 30px; width: 81px; background-position: -307px -75px;border:0px;font-weight:bolder;cursor:pointer;}
#but2{color:#5d7730;background: url(/images/John/button.png); height: 31px; width: 82px; background-position: -1px -1px;border:0px;font-weight:bolder;cursor:pointer;}
.but_calendar{color:#9a6634;background: url(/images/John/button.png); height:15px; width:18px; background-position: -84px -1px;border:0px;font-weight:bolder;cursor:pointer;}

.ylfx_kjhm{background:#fcffd4;text-align:center;width:10px;}
.ylfx_ww{background:#d7ffbd;text-align:center;}
.ylfx_qw{background:#d9f3f2;text-align:center;}
.ylfx_bw{background:#ffdccb;text-align:center;}
.ylfx_sw{background:#d5d4ff;text-align:center;}
.ylfx_gw{background:#f8e2ed;text-align:center;}
.ball_color5{color:#ffffff;background: url(/images/John/button.png); height:21px;line-height:19px; width:21px;background-position: -302px -121px;border:0px;font-weight:bolder;}
.ball_color2{color:#ffffff;background: url(/images/John/button.png); height:21px;line-height:19px; width:21px;background-position: -328px -121px;border:0px;font-weight:bolder;}
.ball_color3{color:#ffffff;background: url(/images/John/button.png); height:21px;line-height:19px; width:21px;background-position: -353px -121px;border:0px;font-weight:bolder;}
.ball_color4{color:#ffffff;background: url(/images/John/button.png); height:21px;line-height:19px; width:21px;background-position: -379px -121px;border:0px;font-weight:bolder;}
.ball_color1{color:#ffffff;background: url(/images/John/button.png); height:21px;line-height:19px; width:21px;background-position: -404px -121px;border:0px;font-weight:bolder;}

.but_copy{color:#a1b1c1;background: url(/images/John/button.png); height: 30px; width: 45Px; background-position: -105px -1px;border:0px;cursor:pointer;}
.but_copy:hover{color:#a1b1c1;background: url(/images/John/button.png); height: 30px; width: 45Px; background-position: -296px -112px;border:0px;cursor:pointer;}
.but_icbc{background-image: url(/images/John/button.png); height: 33px; width: 157Px; background-position: -153px -1px;cursor:pointer;border:0px;}
.but_abc{background: url(/images/John/button.png); height: 35px; width: 166Px; background-position: -187px -36px;cursor:pointer;border:0px;}
.but_ccb{background: url(/images/John/button.png); height: 35px; width: 173Px; background-position: -1px -75px;cursor:pointer;border:0px;}
.but_cmb{background: url(/images/John/button.png); height: 35px; width: 142Px; background-position: -360px -36px;cursor:pointer;border:0px;}
.but_cb{background: url(/images/John/button.png); height: 35px; width: 106Px; background-position: -352px -1px;cursor:pointer;border:0px;}
.but_ms{background: url(/images/John/button.png); height: 35px; width: 172Px; background-position: -1px -36px;cursor:pointer;border:0px;}
.but_radio{height: 16px; width: 16Px; }


#withdrawals_bank_copy{width:762px;height:251px;border:#c3d2e5 solid 1px;color:#000000;font-size:12px;background:#eff6fe;float:left;}
.withdrawals_bank_copy_recharge{width:139px;height:52px;border-bottom:#c3d2e5 solid 1px;float:left;}
.copy_recharge{padding:23px 0px 0px 63px }
.withdrawals_bank_copy_recharge_1{width:622px;height:52px;border-bottom:#c3d2e5 solid 1px;border-left:#c3d2e5 solid 1px;float:left;}
.copy_recharge1{padding:10px 0px 0px 20px }

.withdrawals_bank_copy_Account{width:139px;height:47px;border-bottom:#c3d2e5 solid 1px;float:left;}
.copy_Account{padding:17px 0px 0px 50px }
.withdrawals_bank_copy_Account_1{width:622px;height:47px;border-bottom:#c3d2e5 solid 1px;border-left:#c3d2e5 solid 1px;float:left;}
.copy_Account1{padding:7px 0px 0px 23px }
.copy_Account2{padding:17px 0px 0px 63px}
.withdrawals_bank_copy_Postscript{width:139px;height:50px;float:left;}
.copy_Postscript{padding:15px 0px 0px 89px }
.withdrawals_bank_copy_Postscript_1{width:620px;height:54px;border-left:#c3d2e5 solid 1px;float:left;}

#Unbind{width:364px;height:254px;border:#696969 solid 10px;color:#444444;font-size:12px;background:#fcfcfc;border-radius:5px;float:left;}
#Unbind1{width:363px;height:253px;border:#2e2e2e solid 1px;border-radius:2px;float:left;}
#but_error{background: url(/images/John/button.png); height: 24px; width: 24Px; background-position: -310px -1px;border:0px;cursor:pointer;}
#but_error1{background: url(/images/John/button.png); height: 17px; width: 16Px; background-position: -333px -1px;border:0px;cursor:pointer;}
#Unbind_head{width:362px;height:45px;border-bottom:#bababa solid 1px;font-size:14px;background:#efefef;float:left;}
.Unbind_head_word{padding:14px 0px 0px 123px;float:left;}
.Unbind_head_icon{padding:11px 0px 0px 94px;float:left;}
.Unbind_content_word{padding:13px 0px 0px 21px;float:left;}
.Unbind_content_bank_account{padding:16px 0px 0px 33px;float:left;}
.Unbind_content_bank_account1{padding:9px 0px 0px 22px;float:left;}
.Unbind_content_bank_account_input{ width:222px; height:36px;background:#ffffff;color:#8e8e8e;border:#bababa solid 1px;padding-left:14px;}
.Unbind_content_bank_button{padding:23px 0px 0px 99px;float:left;}
.Unbind_content_bank_button1{padding:23px 0px 0px 10px;float:left;}

#Unbind_password{width:364px;height:291px;border:#696969 solid 10px;color:#444444;font-size:12px;background:#fcfcfc;border-radius:5px;float:left;}
#Unbind_password1{width:363px;height:290px;border:#e2e2e2 solid 1px;border-radius:2px;float:left;}

.Unbind_content_bank_account2{padding:9px 0px 0px 34px;float:left;}

#Unbind_confirm{width:364px;height:298px;border:#727272 solid 11px;color:#444444;font-size:12px;background:#fcfcfc;border-radius:5px;float:left;}
#Unbind_confirm1{width:363px;height:297px;border:#2e2e2e solid 1px;border-radius:0px;float:left;}
#Unbind_confirm_kong{width:336px;height:5px;float:left;}
#Unbind_confirm_bank{padding:0px 0px 0px 12px;}
#Unbind_confirm_bank_form{width:336px;height:180px;border:#e3e3e3 solid 1px;color:#b6b6b6;background:#fcfcfc;float:left;}
#Unbind_confirm_bank_form_name{width:105px;height:32px;border-bottom:#e3e3e3 solid 1px;color:#b6b6b6;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_name{padding:10px 0px 0px 33px ;}
#Unbind_confirm_bank_form_name1{width:230px;height:32px;border-bottom:#e3e3e3 solid 1px;border-left:#e3e3e3 solid 1px;color:#414149;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_name1{padding:10px 0px 0px 13px;}

#Unbind_confirm_bank_form_province{width:105px;height:36px;border-bottom:#e3e3e3 solid 1px;color:#b6b6b6;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_province{padding:10px 0px 0px 8px ;}
#Unbind_confirm_bank_form_province1{width:230px;height:36px;border-bottom:#e3e3e3 solid 1px;border-left:#e3e3e3 solid 1px;color:#414149;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_province1{padding:10px 0px 0px 13px;}

#Unbind_confirm_bank_form_city{width:105px;height:34px;border-bottom:#e3e3e3 solid 1px;color:#b6b6b6;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_city{padding:10px 0px 0px 8px ;}
#Unbind_confirm_bank_form_city1{width:230px;height:34px;border-bottom:#e3e3e3 solid 1px;border-left:#e3e3e3 solid 1px;color:#414149;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_city1{padding:10px 0px 0px 13px;}

#Unbind_confirm_bank_form_accountname{width:105px;height:34px;border-bottom:#e3e3e3 solid 1px;color:#b6b6b6;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_accountname{padding:10px 0px 0px 21px ;}
#Unbind_confirm_bank_form_accountname1{width:230px;height:34px;border-bottom:#e3e3e3 solid 1px;border-left:#e3e3e3 solid 1px;color:#414149;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_accountname1{padding:10px 0px 0px 13px;}

#Unbind_confirm_bank_form_account_number{width:105px;height:36px;color:#b6b6b6;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_account_number{padding:10px 0px 0px 33px ;}
#Unbind_confirm_bank_form_account_number1{width:230px;height:40px;border-left:#e3e3e3 solid 1px;color:#50fe00;background:#fcfcfc;float:left;}
.Unbind_confirm_bank_form_account_number1{padding:5px 0px 0px 2px;}
.Unbind_confirm_bank_form_account_number2{width:225px; height:30px;background:#1a1a1a;font-size:16px;border-radius:3px;float:left;}
.Unbind_confirm_bank_form_account_number3{padding:5px 0px 0px 10px;}
.Unbind_confirm_button{ padding:19px 0px 0px 99px ;float:left;}
.Unbind_confirm_button1{padding:19px 0px 0px 10px;float:left;}

img{border:0px;}
#radio_Bank{width:100%;border:#c8d5e6 solid 1px;color:#000100;font-size:12px;background:#eff6fe;float:left;}
#radio_bank_recharge{width:100px;height:223px;border-bottom:#c8d5e6 solid 1px;float:left;}
.radio_bank_recharge{padding:100px 0px 0px 15px;}
#radio_bank_recharge_name{width:617px;height:223px;border-bottom:#c8d5e6 solid 1px;border-left:#c8d5e6 solid 1px;float:left;}
.radio_bank_recharge_name_ICBC{ padding:16px 0px 0px 57px;float:left;}
.radio_Bank_ICBC{width:217px;height:50px;border:#c8d5e6 solid 1px;float:left;margin-left:20px;margin-bottom:20px;}
.radio_Bank_ICBC_1{padding:16px 0px 0px 35px;float:left;}
.radio_Bank_ICBC_2{padding:20px 0px 0px 7px;float:left;}
.but_Bank_Location{padding:10px 0px 0px 5px;float:left;}
#radio_bank_recharge_money{width:100px;height:75px;border-bottom:#c8d5e6 solid 1px;float:left;}
.radio_bank_recharge_money{padding:31px 0px 0px 15px;}
#radio_bank_recharge_next{width:617px;height:75px;border-bottom:#c8d5e6 solid 1px;border-left:#c8d5e6 solid 1px;color:#626166;float:left;}
.radio_bank_recharge_next{padding:18px 0px 0px 13px;float:left;}
#radio_bank_recharge_next_text{font-size:16px;font-weight:bold;width:175px;color:blue;height:28px;border:#c8d5e6 solid 1px;padding-left:10px;}
.radio_bank_recharge_next_button{padding:18px 0px 0px 15px;float:left;}
.radio_bank_recharge_next_word{padding:26px 0px 0px 21px;float:left;}

#fill_information_prompt{width:762px;height:135px;border:#cfe7c7 solid 1px;color:#504c4d;font-size:12px;background:#f6fef1;float:left;}
#fill_information{width:762px;height:291px;border:#ccd7e9 solid 1px;color:#636768;font-size:12px;background:#eff6fe;float:left;}
.fill_information_input{width:265px; height:25px;background:#ffffff;color:#bdbec2;border:#c6d9dd solid 1px;padding-left:14px;font-size:12px;}
.fill_information_select{width:283px; height:23px;border:#c6d9dd solid 1px;color:#000000;padding-left:14px;font-size:12px;}
.fill_information_select1{width:283px; height:23px;border:#c6d9dd solid 1px;color:#bdbec2;padding-left:14px;font-size:12px;}
.fill_information_Bank{padding:26px 0px 0px 185px;}
.fill_information_Province{padding:11px 0px 0px 159px;}
.fill_information_City{padding:11px 0px 0px 159px;}
.fill_information_Name{padding:8px 0px 0px 173px;}
.fill_information_Account{padding:8px 0px 0px 184px;}
.fill_information_Account_number{padding:8px 0px 0px 157px;}
.fill_information_button{padding:16px 0px 0px 448px;}
