.main-ball-panel .nbts div,
.main-ball-panel .nb div,
.main-ball-panel .to li{
	width: 28px;
	height: 28px;
	margin: 5px 0 0 9px;
	border: 1px solid #888;
	border: 1px solid #888\9;
	border-radius: 5px;
	background: #d5d5d5;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	box-shadow:0 3px 0px rgba(177,177,177,0.8), inset 0 2px 0 rgba(255,255,255,0.9);
	cursor: pointer;
	-moz-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}