@charset "utf-8";
/* CSS Document */

/*--------------------首页面开始------------------*/

/*---content---*/
#content{ background: url(../images/public/bg_img.jpg) no-repeat top  center; min-height: 1295px; }
.content{ width: 1100px; margin: 0 auto; overflow: hidden; padding-top: 135px;}
.content h2{ font-size: 36px; height: 78px; line-height: 78px; border-bottom: 6px solid #d30313; color: #2F2F2F;}
.tab_box{ margin-top: 20px;}
.tab_box .tab_nav{ height: 40px;}
.tab_box .tab_nav li{ width: 138px; height: 40px; float: left; margin-right: 2px; text-align: center; color: #FFFFFF; line-height: 40px; border-top-left-radius: 5px; border-top-right-radius: 5px; background: url(../images/AgentReg/bg.png); cursor: pointer;}
.tab_box .tab_nav li:hover,.tab_box .tab_nav li.on{background: #FFFFFF; color: #DD2F2D;}
.tab_in{ background: #FFFFFF; overflow: hidden;}
.tab_in .one{ margin: 47px 0 0 200px; width: 700px; }
.tab_in .one h4{ height: 24px; border-bottom: 2px solid #dd2f2d; font-weight: 500;}
.tab_in .one h4 span{ display: inline-block; height: 24px; line-height: 24px; width: 140px; border-top-left-radius: 3px; border-top-right-radius: 3px; text-align: center; background:#DE4D4D ; color:#FFFFFF;}

.from_group{height: 40px; margin-bottom: 5px; line-height: 40px; color: #535553; padding-left: 105px;}
.from_group label{ width: 102px; text-align: right; display: inline-block;}
.from_group  input{ border: 1px solid #545554; height:24px; width: 183px;margin-left: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.from_group .msg{ display: inline-block; margin-left: 15px;}
.Game_Time li{ height: 33px;  border-bottom: 1px  dashed #cdc49d; padding-top: 10px;}
.text-right {
    text-align: right;
}
.w200 {
    width: 200px !important;
}
.ml50 {
    margin-left: 50px !important;
}
.inline {
    display: inline-block;
}

.ml30 {
    margin-left: 30px !important;
}

.ui-select {
    border: 1px solid #635b5a;
    font-size: 12px;
    height: 28px;
    line-height: 26px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.w80 {
    width: 90px !important;
}
.Game_Time .hauto{ height: auto;}
.Game_Time{ margin-top: 30px;}
.Game_Time li a{ display: inline-block; width:127px; margin: 40px  0 10px 270px; height: 40px; font-size: 14px;  line-height:32px; color: #FFFFFF; text-align: center; border: none; background: url(../images/AgentReg/btn_bg.jpg) no-repeat;}
.Game_Time li a:hover{color: #F2E3AF; background-image: url(../images/AgentReg/btn_bgx.jpg);}
.from_foot { line-height: 20px; margin: 20px 0 0 173px;}
.from_foot .left{ width:70px; float: left;}
.fl{ float: left;}
.from_foot strong{ color: #DD2F2D;}

/*--------------------首页面结束-----------------*/
.liter{
    height: 30px;
    width: 50px;
}
.two .game_top_in {
    font-size: 14px;
    margin: 20px 0 0 60px;
}

.btn {
    clear: both;
    margin: 100px 0 0 244px;
    overflow: hidden;
}

.ui-form-area {
    padding-left: 180px;
}

.ui-desc .fs-14 {
    float: left;
    width: 135px;
    text-align: right;
}

.ui-desc {
    margin: 40px 0;
    overflow: hidden;
    line-height: 24px;
}

.ui-desc .fs-12 {
    float: left;
}

.fs-14 {
    width: 717px;
    margin-left: 240px;
}

.table01  { margin-left:160px;}

.table01 td,.table .th {
    height: 47px;
}
.table01 select{
	margin-left:10px;
}