@charset "utf-8";
/* CSS Document */
body,div,h1,h2,h3,h4,h5,span,a,dl,dt,dd,ul,ol,li,input,p,select,option,img{padding:0px; margin:0px; border:0px;list-style:none;}
body{font-family:"微软雅黑"; font-size:14px; color:#7A7A7A; }

a:link,a:visited{color:#707070;text-decoration:none;}
a:hover{ color:#ff8306; text-decoration:none;}
.tableclass .tdrightbg{text-align:center;background:#edc0bf;font-size:12px;color:#555555;}
.tableclass .tdleftbg{padding-left:8px;background:#f4f4f4;font-weight:normal;font-size:13px;color:#000000;font-family:'微软雅黑'}

/*----------------base css-----------------*/
.mb35{margin-bottom:35px !important;}
/*bar*/
#bar{
    height: 30px;
    font-size:12px;
    line-height: 29px;
    background: url("../images/public/bg_01.png") repeat-x;
    position:fixed;
    top:0;
    width:100%;
    z-index:10000

}
span#ebalance {
    display: inline-block;
}
.bar{
    position: relative;
    width: 1100px;
    height: 30px;
    margin: 0 auto;
    color: #F2E3AF;
}
.bar h2{
    float: left;
    height: 30px; 
    overflow: hidden;
}
.bar_l{
    float: left;
    padding-left:7px;
    
}
.bar_l a,.bar_r a{
    color: #F2E3AF;
}
.bar_1_r a:hover{
	color:#ffffff;
}
.bar_r a:hover{
	color:#ffffff;
}
.bar_l .online-customer{
    padding-left: 40px;
    background: url("../images/public/pic_bar_r1_c1.png") no-repeat 18px center;
}
.bar_l .online-customer:hover{
    color:#ffffff;
}
.bar_m .gamebox{
    display: inline-block;
    float: right;
    height: 30px;
    padding-right: 10px;
}
.bar_m .game{
	font-size:14px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    float: left;
    overflow:hidden;
    padding-left: 40px;
    border-radius: 6px;
    margin-top: 3px;
    background: #8e0004 url("../images/public/pic_bar_r1_c3.png") no-repeat 10px center;
}
.game a:visited,.game a:link{color: #F2E3AF; font-size: 12px;}
.bar_m .game:hover{
	background-color: #981c17;
}
.bar_m .game c:hover{
	color:#ffffff;
}
.bar_m .game:hover span{
	background-image: url(../images/public/pic_bar05.png);
}
.bar_m .game span{
    display: inline-block;
    width: 12px;
    height: 14px;
    margin-right: 10px;
    background: url("../images/public/pic_bar02.png") no-repeat center center;
}
.bar_m{
    float: right;
}
.bar i{
    font-style: normal;
    padding: 0 10px;
    color: #ffffff;
}
.bar_m .refresh{
    margin-left: 3px;
}
.bar_m .amorpm{
    color: #ffffff;

}
.bar .recharge,.bar .withdraw_cash{
    height: 18px;
    line-height: 18px;
    width: 30px;
    float: right;
    color: #ffffff;
    display: inline-block;
    padding-left: 25px;
    border-radius: 3px;
    background: #dc2f2d url("../images/public/pic_bar03.png") no-repeat 5px center;
    margin-top: 6px;
    margin-right: 0px;
}
.bar .recharge:hover{
    background-color:#ff403e;
}
.bar .withdraw_cash{
    margin-left: 14px;
    background-image: url("../images/public/pic_bar04.png");
    background-color: #8d0003;;
}
.bar .withdraw_cash:hover{
    background-color:#ff403e;
}
.bar_r {
    float: right;

}
.bar_r>*{float:left;}

.game .sub{
    position: absolute;
    z-index: 10;
    display: none;
    left: 0;
    width:1100px;
    height: 310px;
    background: url("../images/public/pic_bar_gamebg.png");
}
.sub .history{
    height: 43px;
    line-height: 42px;
    margin: 0 15px;
    border-bottom: 1px solid #dd8591;
}
.sub .history dt{
    padding-left: 32px;
    float: left;
    color: #ffffff;
    width:61px;
    background: url("../images/public/pic_bar_gameico.png") no-repeat 3px center;
}
.sub .history dd{
    float: left;
    padding-left: 20px;
    margin: 0 10px;
    color: #ffffff;
    background: url("../images/public/pci_bar_gameico02_r1_c1.png") no-repeat left center;

}
.sub .item{
    height: 90px;
    line-height: 42px;
    margin: 0 15px;
    padding-top: 20px;
    border-bottom: 1px solid #dd8591;
}
.sub .item01{
    height: 135px;
    line-height: 42px;
    margin: 0 15px;
    padding-top: 16px;
    border-bottom: 1px solid #dd8591;
}
.lottery_ticket{
    position: relative;
    float: left;
    width:177px;
    height: 65px;
    margin-right:20px;
}
.lottery_ticket01{
    position: relative;
    float: left;
    width:177px;
    height: 65px;
    margin-right:30px;
    margin-top:30px;
}
.item dt{
    float: left;
	 width: 62px;
}
.item dd h4{
    font-size: 18px;
    height: 32px;
    line-height: 36px;
    color: #ffffff;
    font-weight: normal;
}
.item dd{
    float: left;
    line-height: 22px;
    padding-left: 10px;
}
.item dd p{
    font-size:13px;
}
.item .more {
    color: #f2e3af;
    font-size: 13px;
    position: absolute;
    right: -3px;
    top: 18px;
}


.item01 dt{
    float: left;
	 width: 62px;
}
.item01 dd h4{
    font-size: 18px;
    height: 32px;
    line-height: 36px;
    color: #ffffff;
    font-weight: normal;
}
.item01 dd{
    float: left;
    line-height: 22px;
    padding-left: 10px;
}
.item01 dd p{
    font-size:13px;
}
.item01 .more {
    color: #f2e3af;
    font-size: 13px;
    position: absolute;
    right: -3px;
    top: 18px;
}

.time_ticket{
    width:360px;
    height:50px;
}
.time_ticket2{
	width:280px;
}
.time_ticket3 {
    margin-right: 0;
    width: 170px;
}
dd.listax {
    margin-left: 10px;
}
.item .lista a{
    padding-left:10px;
    background:url("../images/public/pic_bar_gameico05.png") no-repeat left center ;
}

.item .listax a{
    padding-left:10px;
    background:url("../images/public/pic_bar_gameico05.png") no-repeat left center ;
}
.item .lista a:hover{
    color: #ffffff;
}
/* .item .lista{ */
/*     padding-left:22px; */
/* } */
.item .listax a:hover{
    color: #ffffff;
}
.phoneapp:hover .equipment_sub {
	display:block;
	top: 12px;
	left: 113px;
	width: 168px;
	height: 114px;
}
.phoneapp .equipment_sub .equipment_sub_l {
    width: 74px;
	
}
.item_more{  float: left;  margin-top:10px;width:800px;}
.item_more li{ float: left;margin-bottom: 20px;}
.item_more img{ float: left;}
.item_more_in{float: left; padding-left: 9px; padding-right: 42px; color: #FFFFFF;font-size: 14px; line-height: 20px;}
.item_more_in a{font-size:12px;}
.item_more_in a:visited{color: #F2E3AF; font-size: 12px;}
.item_more_in a:hover{color:#FFFFFF}

/*账户管理*/
.Account_management{ position: relative;line-height: 24px;height: 24px;border-radius: 5px;display: inline-block;padding: 0 4px;background: #8e0004; margin-top:3px;}
.Account_management span{
    display: inline-block;
    width: 12px;
    height: 7px;
    background: url("../images/public/pic_bar02.png") no-repeat center center;
}
.Account_management:hover{ background-color: #981c17;}
.Account_management:hover span{background-image: url(../images/public/pic_bar05.png);}
.Account_management_sub{ display: none; position:absolute ; z-index: 10; right: 0;  width: 536px; height: 293px; background: url(../images/public/pic_bar_gamebg.png); border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
.Account_management_sub a:hover{ color:#ffffff;}
.AM_sub_top{ margin: 10px 0 0 15px;}
.AM_sub_top dl{width:503px; height: 42px; line-height: 42px; border-bottom: 1px solid #dd8591;}
.AM_sub_top dl dt{ width:50px; font-size: 16px; color: #FFFFFF; float: left; padding-left: 30px; border-right: 1px solid #dd8591; background: url(../images/public/pci_AMico01.png) no-repeat; background-position: 0 11px;}
.AM_sub_top dl dd{float: left;padding-left: 17px}
.AM_sub_top dl:nth-last-child(1){border-bottom: none;}

.AM_sub_foot{ height: 28px; line-height: 28px; margin: 30px 0 0 15px;}
.AM_sub_foot h4{font-size: 16px; color: #F2E3AF; font-weight: normal; float:left; margin-right: 28px;}
.AM_sub_foot a{margin: 0 9px; display: inline-block;}
.AM_sub_foot a img{float: left; margin-top: 8px; margin-right: 3px;}
/*footer*/
.clear{
    clear: both;
}
.footer{
    width:1100px;
    margin: 0 auto;
    background: url("../images/public/pic_foot.png") repeat-x top;
    clear:both;
    overflow: hidden;
}
.footer_l{
    height: 137px;
    width: 540px;
    margin: 40px 20px 0 0;
    border-right: 1px solid #b3b3b9;
    float: left;

}
.footer_l h3{
    padding-left: 80px;
    color: #CF001B;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer_l h3 span{
    font-size: 12px;
    color: #7F7F81;
    font-size: 12px;
    font-weight: normal;

}
.footer_l a{
    display: block;
    margin:10px 15px;
    float: left;
    height: 40px;
}
.footer_r{
    border-right: none;
    width: 480px;
}
.footer p{
    text-align: center;
    line-height: 32px;
    font-size:12px;
}
.footer .accredit{
    
    margin-top:28px;
    text-align: center;
    color: #8D000F;
}
/*----------------base css----end----------*/
.btn a:link,.btn a:visited{ display: inline-block; width: 127px; height: 40px; line-height: 32px; background: url(../images/public/btn_bg.png) no-repeat; text-align: center; color:#FFFFFF; font-size: 14px; float: left; margin-right: 50px;}
.btn a:hover{ background-image: url(../images/public/btn_bgx.png); color: #F2E3AF;}

.table .submitBtn:hover,.submitBtn:hover {
    background-image: url(../images/public/btn_bgx.png);
    color: #F2E3AF;
    cursor:pointer;
    font-family:"微软雅黑";
}
.table .submitBtn,.submitBtn {
    display: inline-block;
    border: none;
    width: 127px;
    height: 38px;
    line-height: 13px;
    background: url(../images/public/btn_bg.png) no-repeat left 2px;
    margin-left:20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 50px;
    cursor:pointer;
    font-family:"微软雅黑";
}
.ml300{    margin-left: 300px !important;}
.ml370{    margin-left: 250px !important;}	
.tab_in table td, .tab_in table th {f
    height: 28px;
}
.tab_nav li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.tab_nav li a:hover,.tab_nav li.on a{	
     color: #dd2f2d;
}


.page-list {
    float: right;
    width: 400px;
}

.page-list li {
    float: left;
    margin-right: 10px;
}

.star {
    position: absolute;
    top: -8px;
    left: 42px;
}
.notice_ul01 li{
	overflow:hidden;
}
.line{ height: 0px; border-bottom: 2px solid #dc2f2d; clear: both;width: 1024px;margin: 0 auto;}
.tabbox {
    width: 1024px;
    margin: 0 auto;
}

.tabbox  td,.massage table th{padding: 0;line-height:26px; text-align: center;}
.tabbox  .even{ background: #ededed;}
.tabbox { width:1024px; margin-top: 24px;}
.tabbox  th{ font-size: 14px; color: #DD2F2D; font-weight: 500; line-height:26px;}

.transition {
	-moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.transition:hover{
	 -moz-transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     transform: rotate(360deg);
}
/*
#cat_content {
    background: url(/images/promo/bg-holiday-game.jpg) no-repeat top center!important;
    background-size: 100%!important;
}*/
