#cathectic_con{  height:140px;  background: url(../images/cathectic/pic01.png) repeat-x; overflow: hidden; margin-top:30px;}
.cathectic_con{ width: 1137px; height:140px; margin: 0 auto; padding-right: 37px;position: relative;}
.cathectic_con h1{ float: left;}
.cathectic_con_l{ width: 190px; height: 125px;float: left; padding-top: 15px;}
.cathectic_con_l p{ line-height: 32px; color: #f3e3af;}
.cathectic_con_l p span{ color: #FFFFFF;}
.gitTime{ height: 40px; background: url(../images/cathectic/pic02.png) no-repeat;font-size: 30px; color: #FFFFFF;}
.gitTime span{display: inline-block; width: 50px; margin-right: 10px; text-align: center;}
.gitTime .sec{ margin-right: 0px;}
.cathectic_con_m{ width: 365px; float: left; height: 125px; padding-top: 15px; margin-left: 28px;}
.cathectic_con_mb span{ font-size: 40px; display: inline-block; width: 73px; height: 73px; float: left; background: url(../images/cathectic/pic05.png) no-repeat; line-height: 60px; text-align: center; color: #FFFFFF;}
.cathectic_con_mb{ margin-top: 5px;}
.three{margin-left: 70px !important;}
.cathectic_con_mb span img{ margin-top: 12px;}
.cathectic_con_m p{ font-size: 14px; color: #f3e3af; line-height: 28px; text-align: center;}
.cathectic_con_m p span{ color: #FFFFFF;}
.cathectic_con_m #showadvbox{   margin-left: 33px; margin-top: 5px;}
.cathectic_con_b{ color: #353535;}
.cathectic_con_b table,.cathectic_con_b iframe{ float:right;}
.cathectic_con_b td,.cathectic_con_b th{ height: 22px;;}
.cathectic_con_b .color01,.color01{ color: #A90303 !important;}
.cathectic_con_b  td{ text-align: center;}

.cat_nav_l a:link,.cat_nav_l a:visited{ color:#ffffff; text-decoration:none;}

.cathectic_con_lb a{ display: inline-block; float: left; margin-top: 15px;width: 60px;padding-left: 30px; height: 25px; line-height: 25px;/* color: #FFFFFF; */ background: url(../images/cathectic/pic03_r1_c1.png) no-repeat;}
.cathectic_con_lb a:hover{background-image: url(../images/cathectic/pic03_r1_c1x.png);}
.cathectic_con_lb .two{ background-image: url(../images/cathectic/pic03_r1_c3.png); margin-left: 10px;}
.cathectic_con_lb .two:hover{background-image: url(../images/cathectic/pic03_r1_c3x.png);}

.cathectic_con_lb .single{ background-image: url(../images/cathectic/pic03_r1_c3.png); margin-left: 50px;}
.cathectic_con_lb .single:hover{background-image: url(../images/cathectic/pic03_r1_c3x.png);}

#lt_sel_dyprize {
    border: 1px solid #cccccc;
}

#cat_content{ background: url(../images/index/contentbg.jpg)no-repeat top center;  overflow: hidden;}
.cat_content{ width:1100px; margin: 15px auto 0;background: #ffffff;}
.cat_nav{ height: 39px;background: url(../images/cathectic/pic06.png); line-height: 39px;}
.cat_nav_l a{ font-size: 14px; color: #FFFFFF; display: inline-block; padding: 0 20px;}
.cat_nav_l a:hover,.cat_nav_l a.on{ color: #A70301;background-color: #FFFFFF;}
.cat_cont{ padding: 13px 48px 0;}


.cat_cont_top{ height: 155px;line-height: 32px;}
 dt{ width: 52px; float: left;}
 .cat_cont_top dl{ clear: both; overflow: hidden;}
.cat_cont_top dt{ width: 75px; float: left;}
.cat_cont_top dd{ float: left; width: 90px; height: 25px; border: 1px solid #e9e9e9; border-radius: 3px; line-height: 25px; text-align: center; color:#777775; margin-top: 2px; margin-right: 10px;}

.cat_cont_top dd:hover,.cat_cont_top dd.on{ color: #FFFFFF; background: #dd2f2d; border-color: #dd2f2d;}
.cat_cont_top dd:hover a,.cat_cont_top dd.on a{color:#ffffff;display:block;}
.cat_cont_top dd a:hover,.cat_cont_top dd.on a:hover{ color: #FFFFFF;}
.cat_cont_top p{ line-height: 32px; background: url(../images/cathectic/pic07.png) no-repeat left center; padding-left: 25px;}

.cat_cont_mtab li{ height: 56px; line-height: 56px; border-top: 1px solid #e5e5e5;}
.li_l{ width: 65px; float: left;}
.li_m{ overflow: hidden; float: left;}
.li_m span{ display: inline-block; width: 42px; height: 42px; background: url(../images/cathectic/pic08.png) no-repeat; text-align: center; line-height: 42px; font-size: 24px; color: #777775; float: left; margin-top: 5px; margin-right: 12px; cursor: pointer;}
.li_m span:hover,.li_m span.on{ background-image: url(../images/cathectic/pic08x.png); color: #FFFFFF;}
.li_m div{     display: inline-block;
	border: 1px solid #dccdcd;
	padding: 0px 5px;
	text-align: center;
	line-height: 42px;
	font-size: 24px;
	color: #777775;
	float: left;
	margin-top: 5px;
	margin-right: 12px;
	border-radius: 3px;
  height: 44px;
	cursor: pointer;}
.li_m div:hover,.li_m div.on{  background-image: -moz-linear-gradient( 90deg, rgb(171,3,2) 0%, rgb(221,47,45) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(171,3,2) 0%, rgb(221,47,45) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(171,3,2) 0%, rgb(221,47,45) 100%); color: #FFFFFF;}
.li_r{ height: 26px; margin-top: 15px; float: right; width:220px; line-height: 25px;}
.li_r span{ display: inline-block; width: 26px; height: 26px; background: url(../images/cathectic/pic09_r3_c1.png) no-repeat; text-align: center; float: left; margin-right: 10px; cursor: pointer;}
.li_r span:hover,.li_r span.on{ background-image: url(../images/cathectic/pic09_r1_c1.png); color: #FFFFFF;}

.ml{ margin-left: 50px;}
.cathectic_con_l a:link,.cathectic_con_l a:visited{color:#ffffff}
.controller{ height: 321px;   padding: 15px 48px 0;}
.line hr{ color: #e9d0cf;}
.contrl_top{ height: 140px; ;}
.line_top p{ float: left; margin-left: 150px;}
.line_top{ line-height: 23px; color: #4C4C4C;font-size: 14px; margin-top: 25px;}
.line_top label,.line_top select{ float: left;}
.multiple{ width: 83px; height: 23px; line-height: 23px; border: 1px solid #c9c9c9; float: left;}
.multiple i{ font-style: normal; float: left; cursor: pointer; display: inline-block; width: 18px; height: 23px ; color: #dd2f2d; text-align: center;}
.multiple input{ width: 44px; text-align: center; height: 23px; float: left;border-right: 1px solid #c9c9c9; border-left: 1px solid #c9c9c9;  }
.model{ width: 101px; height: 23px;  float: left; border: 1px solid #c9c9c9; border-radius: 3px; overflow: hidden;}
.model span{ display: inline-block; width: 24px; height: 23px; float: left; text-align: center; border-right: 1px solid #c9c9c9; cursor: pointer; }
.model span:last-child{width:26px; border-right:none;}
.model span.on{ background: #dd2f2d; color: #FFFFFF;}
.model .fen{ border-right:none; width: 25px;}

.sd{ clear: both;}
.speed{ float: left; display: block; margin: 30px 30px 0 330px;}
.add{ float: left; margin-top: 30px;}
.contrl_bot{ height: 185px;}

.contrl_bot_l{ width: 696px; height: 150px; float: left; border: 1px solid #e9d0cf; }
.contrl_bot_l  li{ line-height: 25px; color: #777775; ;}
.contrl_bot_l span{ display: inline-block; float: left; text-align: center;height: 25px;border-right: 1px solid #f5f5f5;  }
.contrl_bot_l .frist{ background: #ffe7e6; color: #DD2F2D; overflow: hidden;}
.contrl_bot_l .frist span{ border-right: 1px solid #e9d0cf;}
.contrl_bot_l  span.last{ border-right: none;}
.contrl_bot_l .td01{ width: 158px;}
.contrl_bot_l .td02{ width: 160px;}
.contrl_bot_l .td03{ width: 50px;}
.contrl_bot_l .td04{ width: 76px;}
.contrl_bot_l .td05{ width: 76px;}
.contrl_bot_l .td06{ width: 110px;}
.contrl_bot_l .td07{ width: 60px;}

.ml5{margin-left: 14px;}
.contrl_bot_r{ width: 290px; float: right; height: 160px; }
.contrl_bot_r>p,
.contrl_bot_r sapn{ font-size: 15px;float: left; padding-left:5px;}
.ok{margin-top: 30px;clear: both;}
.ok a:link,.ok a:visited{ display: block; width: 182px; height: 78px; font-size: 36px; line-height: 67px;color: #F2E3AF; padding-left: 115px; background: url(../images/cathectic/pic14.png) no-repeat;}
.ok a:hover{ background-image: url(../images/cathectic/pic15.png);}


.list { margin: 25px auto 15px; overflow: hidden; padding-left: 48px;}
.list .contrl_bot_l{ width: 1024px;}
.list p{ text-align: center; height: 25px; line-height: 25px; color: #A70301; }
.list .contrl_bot_l .td01{ width: 118px;}
.list .contrl_bot_l .td02{ width: 108px;}
.list .contrl_bot_l .td03{ width: 100px;}
.list .contrl_bot_l .td04{ width: 146px;}
.list .contrl_bot_l .td05{ width: 128px;}
.list .contrl_bot_l .td06{ width: 60px;}
.list .contrl_bot_l .td07{ width: 60px;}
.list .contrl_bot_l .td08{ width: 60px;}
.list .contrl_bot_l .td09{ width: 112px;}
.list .contrl_bot_l .td010{ width: 122px;}




.tk{  width:892px; }
.tk h2{ height: 45px; line-height: 45px; background: #dd2f2d; padding: 0 16px; font-size: 18px; color: #FFFFFF; font-weight: normal;}
.tk .titler{ float: right; width: 100px; height: 25px; line-height: 25px;font-size: 12px; margin-top: 10px;} 
.tk .titler input{ margin-top: 6px; float: left;}
.tab{ height: 36px; line-height: 36px; background: #aa0301;}
.tab li{ width: 170px; float: left; text-align: center; color: #FFFFFF; background: #7b0509;cursor: pointer;}
.tab .on{ background: #FFFFFF; color: #DD2F2D;}
.form{ padding-top: 26px; height: 26px;line-height: 26px; padding-left: 16px;}
.form span{ padding: 0 10px;}
.form input,
.form select{ width: 58px; height: 24px; display: inline-block; border-radius: 3px; border: 1px solid #211f20;text-align: center;}
.form select{ width: 70px;}
.form a img{ display: inline-block;float: right;margin-right: 16px;}

.formtabbox{ width: 860px; margin: 0 auto; height: 335px; overflow-y: auto; margin-top: 10px;} 
.formtabbox td,.formtabbox th{text-align: center;  vertical-align: middle; height: 33px; }
.formtabbox th{ color: #FFFFFF;}
.formtabbox td input{ display: inline-block; width:32px; height: 17px; border: 1px solid #CCCCCC; text-align: center;}
.formtabbox td{background: #f4f4f4;}

.textline{ margin: 30px 0 10px 0; text-align: center; text-align: center; font-size:14px;}
.btnbox{ padding-left: 315px;}

/*	--------------------------------------------------
Reveal Modals
-------------------------------------------------- */

.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}

.reveal-modal {
	position: fixed;
	top: 50%; 
	left: 50%;
	background: #eee;
	z-index: 101;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 150px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 150px rgba(0,0,0,.4);
	-box-shadow: 0 0 150px rgba(0,0,0,.4);
}

.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
} 


.contrl_bot_l li.item.none {
  text-align: center;
}
.contrl_bot_l li.item {
  cursor: default;
}

/*瀵顢�*/
.tk{
	margin-top: -290px;
	margin-left: -446px;
	width: 892px;
	height: 580px;
	background-color: white;
}
.tk h2{ height: 45px; line-height: 45px; background: #dd2f2d; padding: 0 16px; font-size: 18px; color: #FFFFFF; font-weight: normal;}
.tk .titler{ float: right; width: 100px; height: 25px; line-height: 25px;font-size: 12px; margin-top: 10px;} 
.tk .titler input{ margin-top: 6px; float: left;}
.tab{ height: 36px; line-height: 36px; background: #aa0301;}
.tab li{ width: 170px; float: left; text-align: center; color: #FFFFFF; background: #7b0509;cursor: pointer;}
.tab .on{ background: #FFFFFF; color: #DD2F2D;}
.form{ padding-top: 26px; height: 26px;line-height: 26px; padding-left: 16px;}
.form span{ padding: 0 10px;}
.form input,
.form select{ width: 58px; height: 24px; display: inline-block; border-radius: 3px; border: 1px solid #211f20;text-align: center;}
.form select{ width: 70px;}
.form a img{ display: inline-block;float: right;margin-right: 16px;}

.formtabbox{ width: 860px; margin: 0 auto; height: 335px; overflow-y: auto; margin-top: 10px;} 
.formtabbox td,.formtabbox th{text-align: center;  vertical-align: middle; height: 33px; }
.formtabbox th{ color: #FFFFFF;}
.formtabbox td input{ display: inline-block; width:32px; height: 17px; border: 1px solid #CCCCCC; text-align: center;}
.formtabbox td{background: #f4f4f4;}

.textline{ margin: 30px 0 10px 0; text-align: center; text-align: center; font-size:14px;}
.btnbox{ padding-left: 315px;}

.cat_nav_l{ float: left;}
.cat_nav_r{ float: right; padding-right:15px;}
.cat_nav_r a,.cat_nav_r a:link{font-size: 14px; color: #FFFFFF; height: 38px; padding: 0 12px; display: inline-block;}
.cat_nav_r a:hover,.cat_nav_r a.on{color: #FFFFFF; background:url(/images/cathectic/btn-bg.png) no-repeat center 4px}


/*瀵顢�*/
.tk02{
	margin-top:-166px;
	margin-left:-334px;
	width:638px;
	height: 332px;
	background: white;
}
.tk02 .tk02in h2{ height: 35px; background: #dd2f2d;  line-height: 35px; font-size: 16px; padding: 0 10px; color: #FFFFFF;} 
.tk02int{ margin: 12px 0 12px 200px ; overflow: hidden;}
.tk02in .tk02inm{ width: 636px; height: 144px; margin: 0 auto; border-radius: 5px; border: 1px solid #dbdbdb; background: #f4f4f4;}
.tk02in .tk02inm .td07{
	display: none;
}
.tk02int p{ float: left; margin-left: 12px; font-size: 16px; line-height: 40px;}
.tk02b{ padding-left: 15px; margin-top: 25px;}
.tk02b p{ font-size: 14px; float: left;}
.tk02b p span{ color: #DD2F2D;}
.bbox{ float: right; padding-right: 10px;}

/*閸椾椒绔撮柅澶夌安鐡掞絽鎳楅崹瀣倖閻ㄥ嫭鐗卞锟�*/
.qwx .li_m span{ display: inline-block; width: 42px; height: 42px; background: url(../images/cathectic/pic08.png) no-repeat; text-align: center; line-height: 21px; font-size: 15px; color: #777775; float: left; margin-top: 5px; margin-right: 12px; cursor: pointer;}



.wfts{

	position:relative;
}
.wfts .p01{
	cursor: pointer;
	float: left;
	height: 31px;
	display: inline-grid;
}
.wfts-text{
	display:none;
	overflow:hidden;
	width:390px;
	position:absolute;
	background:url("../images/cathectic/a001.png") no-repeat 40px top;
	padding-top:8px;
	top:25px
}
/* .wfts:hover .wfts-text{ */
/* 	display:block; */
/* } */
.wftx-text-in{
	padding:5px 15px;
	color:#ffffff;
	border-radius:5px;
	background:url(../images/cathectic/a002.png);
}

.wfts-text p{
	background:none;
	line-height:18px;
	font-size:12px;
	padding:0;
}
