/* 
 * My97 DatePicker 4.6
 * 皮肤名称:whyGreen
 */
 
 * { font-family:tahoma,"微软雅黑";}
 
 
/* 日期选择容器 DIV */
.WdateDiv{
	width:180px;
	background-color:#f1f1f1;
	border:#dbdbdb 1px solid;
	padding:2px;
}
/* 双月日历的宽度 */
.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

/****************************
 * 导航图标 全部是A标签
 ***************************/
.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	margin-top:1px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -16px 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -32px 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -48px 0px;
}
/****************************
 * 年份月份相关
 ***************************/
/* 年份月份栏 DIV */
.WdateDiv #dpTitle{
	height:24px;
	padding:1px;
	border:#b7b7b7 1px solid;
	background:url(bg.jpg);
	margin-bottom:2px;
}
/* 年份月份输入框 INPUT */
.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:16px;
	width:50px;
	color:#4a4a4a;
	background-color:transparent;
	cursor:pointer;
}
/* 年份月份输入框获得焦点时的样式 INPUT */
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#bcbcbc 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:16px;
	width:50px;
}
/* 菜单选择框 DIV */
.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#c0c0c0 1px solid;
	display:none;
}
/* 菜单的样式 TD */
.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#7f7f7f;
}
/* 菜单的mouseover样式 TD */
.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#e5e5e5;
}
/* 菜单无效时的样式 TD */
.WdateDiv .invalidMenu{
	color:#aaa;
}
/* 年选择框的偏移 DIV */
.WdateDiv .YMenu{
	margin-top:16px;
}
/* 月选择框的偏移 DIV */
.WdateDiv .MMenu{
	margin-top:16px;
	*width:62px;
}
/* 时选择框的位置 DIV */
.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}
/* 分选择框的位置 DIV */
.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}
/* 秒选择框的位置 DIV */
.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

/****************************
 * 周相关
 ***************************/
 .WdateDiv .Wweek {
 	text-align:center;
	background:#f0f0f0;
	border-right:#e5e5e5 1px solid;
 }
/****************************
 * 星期,日期相关
 ***************************/
 /* 星期栏 TR */
.WdateDiv .MTitle{
	color:#6a6a6a;
	background-color:#e5e5e5;
}
/* 日期栏表格 TABLE */
.WdateDiv .WdayTable{
	line-height:20px;	
	color:#777777;
	background-color:#ffffff;
	text-align:center;
}
/* 日期格的样式 TD */
.WdateDiv .Wday{
	cursor:pointer;
}
/* 日期格的mouseover样式 TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#cdcdcd;
}
/* 周末日期格的样式 TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#ce3e3e;
}
/* 周末日期格的mouseover样式 TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#dadada;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:red;
}
.WdateDiv .Wselday{
	background-color:#db4849; color:white;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}
/* 其他月份的日期 */
.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#b2b2b2;
}
/* 其他月份的日期mouseover样式 */
.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#ffb0b1;	
}
/* 无效日期的样式,即在日期范围以外日期格的样式,不能选择的日期 */
.WdateDiv .WinvalidDay{
	color:#aaa;
}

/****************************
 * 时间相关
 ***************************/
/* 时间栏 DIV */
.WdateDiv #dpTime{
	
}
/* 时间文字 SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#808080;
}
/* 时间输入框 INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	color:#333;
	border:#d0d0d0 1px solid;	
}
/* 时间 时 INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* 时间 分和间隔符 ':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* 时间 秒 INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* 时间右边的向上按钮 BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}
/* 时间右边的向下按钮 BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -48px -16px;
}
/****************************
 * 其他
 ***************************/
 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	padding:2px;
	border:#de4b4c 1px solid;
	background-color:#ed5c5d;
	color:#ffffff;
}